.nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 90px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.76);

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;


        h1 {
            font-size: 25px;
        }


        .searchbox>input {
            border: none;
            border-bottom: 1px solid rgba(128, 128, 128, 0.76);
            width: 15vmax;
            font-size: 1.1vmax;
            outline: none;
            color: rgb(61, 61, 61);
            font-weight: 100;
            margin: 25px 20px;

        }

        .searchbox>svg {
            fill: rgb(61, 61, 61);
        }

    }

    .navlinks {
        flex-direction: row;
        padding: 25px 0px;

        .links {
            color: rgb(59, 59, 59);
            text-decoration: none;
            margin: 0vmax 2.1vmax;          
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 500;
            font-size: 1.1vmax;
            list-style: none;
            text-align: center;
        }
    }
}
